{{ define "adminlinks" }}
<div class="block">
<p>
<strong>ADMIN</strong>:
    <a href="/user">My user page</a> |
    <a href="/admin/users">Users</a> |
    <a href="/admin/jobs">Jobs</a>
</p>
</div>
{{ end }}