{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{template "title" .}} - Virtual 1403</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style type="text/css">
      div#website { display: none; }
      img.profilesample {
        border-top: 1px black solid;
        border-left: 1px black solid;
      }
    </style>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Virtual 1403</h1>
      <h2 class="subtitle">{{template "title" .}}</h2>
      {{template "main" .}}
    </div>
  </section>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>Virtual 1403</strong> &copy; 2021–2022 by Matthew R. Wilson and is <a href="https://github.com/racingmars/virtual1403">free software</a>. This service provided by moshix (<a href="https://www.youtube.com/channel/UCR1ajTWGiUtiAv8X-hpBY7w">YouTube</a> and <a href="https://github.com/moshix/">GitHub</a>). Font used in some generated PDFs is <a href="https://1403.slantedhall.com/">1403 Vintage Mono</a> from Slanted Hall, used under license.<p>
      {{with .serverAdminContact}}<p><a href="mailto:{{.}}">Contact server administrator</a>{{end}}
    </div>
  </footer>
</html>
{{end}}
