{{template "base" .}}

{{define "title"}}Welcome{{end}}

{{define "main"}}
<div class="columns">
    <div class="column">
        <h1 class="title block">Sign in...</h1>
        {{with .verifySuccess}}
            <div class="notification is-success block">
                {{.}} You may now log in and begin using the service.
            </div>
        {{end}}
        {{with .loginError}}
            <div class="notification is-danger block">
                {{.}}
            </div>
        {{end}}
        <form method="post" action="login" class="block">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="login-email">Email</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="email" id="login-email" placeholder="user@example.com" value="{{with .loginEmail}}{{.}}{{end}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="login-passwd">Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="password" id="login-passwd" placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-primary" value="Login">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <h2 class="title block">Documentation</h2>
        <p class="block"><a href="docs/setup">Setup instructions</a></p>
        <p class="block"><a href="static/virtual1403-sample.pdf">Sample PDF</a></p>
        <p class="block"><a href="docs/profiles">Available printer profiles</a></p>
    </div>

    <div class="column">
        <h1 class="title block">...or sign up</h1>

        {{with .signupError}}
            <div class="notification is-danger block">
                {{.}}
            </div>
        {{end}}
        <form method="post" action="signup" class="block">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="signup-email">Email</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="email" id="signup-email" placeholder="user@example.com" value="{{with .signupEmail}}{{.}}{{end}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="signup-name">Full Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="name" id="signup-name" placeholder="First Last" value="{{with .signupName}}{{.}}{{end}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" id="website">
                <div class="field-label is-normal">
                    <label class="label" for="signup-website">Website (this is an anti-spam field, DO NOT fill in)</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="website" id="signup-website" placeholder="This is an anti-spam field">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="signup-passwd">Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="password" id="signup-passwd" placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="signup-passwd-confirm">Confirm Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password" name="password-confirm" id="signup-passwd-confirm" placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="submit" class="button is-primary" value="Create Account">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{end}}
