{{template "base" .}}

{{define "title"}}Admin — Users{{end}}

{{define "main"}}

{{ if .isAdmin }}
    {{ template "adminlinks" . }}
{{ end }}

{{ with .users }}
<table class="table">
    <thead><tr>
        <th>Email</th>
        <th>Name</th>
        <th>Jobs</th>
        <th>Pages</th>
        <th>Last Job / <em>Signup Date</em> <span class="is-size-7">(UTC)</span></th>
        <th>Verified</th>
        <th>Enabled</th>
        <th>Email Jobs</th>
        <th>Nuisance Filter</th>
        <th>Unlimited</th>
        <th>Admin</th>
    </tr></thead>
    <tbody>
    {{range .}}
        <tr>
            <td><a href="edituser?email={{.Email}}">{{.Email}}</a></td>
            <td>{{.FullName}}</td>
            <td>{{.JobCount}}</td>
            <td>{{.PageCount}}</td>
            <td>{{ if eq .JobCount 0 }}<em>{{.SignupDate.Format "2006-01-02 15:04:05"}}</em> {{ else }} {{.LastJob.Format "2006-01-02 15:04:05"}} {{ end }}</td>
            <td><input type="checkbox" disabled {{ if .Verified }}checked{{ end }}></td>
            <td><input type="checkbox" disabled {{ if .Enabled }}checked{{ end }}></td>
            <td><input type="checkbox" disabled {{ if not .DisableEmailDelivery }}checked{{ end }}></td>
            <td><input type="checkbox" disabled {{ if not .AllowNuisanceJobs }}checked{{ end }}></td>
            <td><input type="checkbox" disabled {{ if .Unlimited }}checked{{ end }}></td>
            <td><input type="checkbox" disabled {{ if .Admin }}checked{{ end }}></td>
        </tr>
    {{end}}
    </tbody>
</table>
{{ end }}

{{end}}
