{{template "base" .}}

{{define "title"}}Admin — Edit User{{end}}

{{define "main"}}

<div class="content">

{{ if .isAdmin }}
    {{ template "adminlinks" . }}
{{ end }}


<h3 class="subtitle">User: {{.email}}</h3>
<p class="block"><a href="users">← Back to users list</a></p>
<p class="block">User has printed a total of {{.pageCount}} page{{if ne .pageCount 1}}s{{end}} over {{.jobCount}} job{{ if ne .jobCount 1}}s{{end}}.</p>

<form method="post" action="doedituser" class="block">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label" for="email">Email</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="email" id="email" readonly value="{{.email}}">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label" for="name">Name</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="name" id="name"value="{{.name}}">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label" for="new-passwd">Change Password</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="new-password" id="new-passwd" placeholder="Password">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="active">Account Enabled</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                    <input type="checkbox" name="active" id="active" {{ if .active }}checked{{ end }} value="yes">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="unlimited">Unlimited - No quota or job size limit</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                    <input type="checkbox" name="unlimited" id="unlimited" {{ if .unlimited }}checked{{ end }} value="yes">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="admin">Administrator</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                    <input type="checkbox" name="admin" id="admin" {{ if .admin }}checked{{ end }} value="yes">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-primary" value="Update User">
                </div>
            </div>
        </div>
    </div>
</form>

<div class="column block">
<h3 class="subtitle">Recent print jobs</h2>
<table class="table">
    <thead>
        <tr><th>Time <span class="is-size-7">(UTC)</span></th><th>Name</th><th>Pages</th></tr>
    </thead>
    <tbody>
        {{range .joblog}}
            <tr>
                <td>{{.Time.Format "2006-01-02 15:04:05"}}</td>
                <td>{{ .JobInfo }}</td>
                <td>{{ .Pages }}</td>
            </tr>
        {{ end }}
    </tbody>
</table>
</div>

<div class="block">
<form method="post" action="deleteuser">
<input type="hidden" name="email" value="{{.email}}">
<input type="submit" class="button is-danger" value="Delete User"
    onclick="return confirm('Really delete user {{.email}}?')">
</form>
</div>

{{end}}
